.search-form {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #4a61bd;
}

.load-more-btn {
background-color: #4a61bd;
color: white;
text-align: center;
margin: 10px;
padding: 10px;
border: 0;
border-radius: 5px;
}