.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-card {
flex-basis: calc((100% - 30px) / 4);
outline: 1px solid lightgrey;
box-shadow: 3px 3px 3px lightgrey;
}

.info {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    line-height: 2;
}

.info-item {
    text-align: center;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}